<!DOCTYPE html>
<html>
  <head>
     <title>WebTop</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="./static/mainPage.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
      body  {
        background: url("./static/img/back.jpg") fixed;
        background-repeat: no-repeat;
      }

      #font{
        font-size : 95px;
        color:white;
        margin:5% 35% 5% 35%;
      }

      #bt{
        margin:2% 40% 2% 40%;
      }
      </style>
      
  </head>
  <body>
    
    <br>
    <br>

    <div class="container" >

        <h1 id="font" font-family="Courier New">WebTop</h1>

        <div class="row align-items-center justify-content-center">
          
          <div class="col-md-6">
              
            <form  action="" method="post" role="form">
                
              {{ form.csrf }}
                
              <div class="form-group">
                  
                <input type="text" class="form-control" id="text" name="text" placeholder="Your website's address ...">
                    
                <br>
                
              </div>													   
                
              <button id="bt" type="submit" class="btn btn-success">Submit</button>
                
            </form>
              
            <br>
            <br>
            <br>
                
            {% with messages = get_flashed_messages(with_categories=true) %}
                    
              {% if messages %}
                  {% for message in messages %}
                      {% if "Error" not in message[1]: %}
                          
                        <div class="alert alert-info">
                          
                          <strong>Keywords are (light yellow) - {{linksDict['no_of_keywords']}}</strong>
                          
                          <br>
                          
                          <strong>Outgoing links are (light blue) - {{linksDict['no_of_links']}}</strong>
                        </div>
                      
                      {% endif %}
                      
                      {% if "Error" in message[1]: %}
                          
                        <div class="alert alert-danger">
                          
                          <strong>Error: </strong> {{ message[1] }}
                
                        </div>
                      
                      {% endif %}
                  
                  {% endfor %}
                      
              {% endif %}
                
            {% endwith %}
          
          </div>
        
          <br>
        
        </div>

    </div>
    
    <br>
    <br>
    <br>
    
    <div class="container">
      
      {% if linksDict['no_of_keywords'] >0  %}
        
        {% for link in linksDict['keywords'] %}
        
          <h6 style="color:lightyellow;">{{link}}</h6>
        
        {% endfor %}
      
      {% endif %}
    
    </div>
    
    <br>
    <br>
    <br>
    
    <div class="container">
      
      {% if linksDict['no_of_links'] >0  %}
        
        {% for link in linksDict['links'] %}
          
          <a style="color:lightskyblue" href ={{link}}> {{link}} </a>
        
        {% endfor %}
      
      {% endif %}
    
    </div>

  
      
    <br>
    <br>
    <br>
    <br>
  
  </body>
</html>